@greyColorLighten1Default: #a8b3c5;
@toolbarLightIconColor: var(
  --allPagesToolbarLightIconColor,
  @greyColorLighten1Default
);

#activityManagementApp {
  padding: 10px;
}
.theme--light.v-data-table {
  width: 100% !important;
}

@media (max-width: 1024px) {
  .timeTrackingApp .uiApplicationIconButton {
    display: none !important;
  }
}
#timeTrackingApp {
  .timeTrackingIcon {
    color: @toolbarLightIconColor;
  }
  .drawerContent {
    padding: 16px !important;
  }
}

#activityManagementApp {
  .drawerContent {
    padding: 16px !important;
  }
}
#accessPermissionAutoCompleteActivity .v-autocomplete.v-input--is-focused,
#accessPermissionAutoCompleteActivityEdit .v-autocomplete.v-input--is-focused {
  box-shadow: none !important;
  border: none !important;
}
#accessPermissionAutoCompleteActivity .v-menu__content,
#accessPermissionAutoCompleteActivityEdit .v-menu__content {
  top: 79px !important;
}
